.line-number {
    display: inline-block;
    width: 30px;
    color: #6394f6;
    text-align: right;
    user-select: none;
    padding-right: 8px;
}

.json-error {
    color: red;
    font-weight: bold;
}


.toggle-btn, .ti, .ti-square-rounded-minus {
    cursor: pointer;
}


.json-collapsible {
    cursor: pointer;
}

.json-collapsible > .toggle-btn {
    margin-right: 4px;
    cursor: pointer;
}

.json-collapsible.collapsed > .toggle-btn {
    transform: rotate(-90deg);
}

.json-collapsible.collapsed > br,
.json-collapsible.collapsed > .line-number + br {
    display: none;
}

.json-collapsible.collapsed > *:not(.toggle-btn):not(span:first-child) {
    display: none;
}